// Interactive Video Plugin

// Aktives Tab
.iv_tab_navigation .active {
  border-top: @tax-il-iv-tab-nav-border-top;
  border-right: @tax-il-iv-tab-nav-border-right;
  border-left: @tax-il-iv-tab-nav-border-left;
  border-bottom: none;
  color: @tax-il-iv-tab-nav-active-color;

  &:hover {
    border-top: @tax-il-iv-tab-nav-border-top-hover;
    border-right: @tax-il-iv-tab-nav-border-right-hover;
    border-left: @tax-il-iv-tab-nav-border-left-hover;
    border-bottom: none;
  }
}

// Nicht aktives Tab
a.nav-link.iv_tab {
  background-color: @tax-il-iv-tab-nav-bg-color;
  color: @tax-il-iv-tab-nav-color;

  &:hover {
    background-color: @tax-il-iv-tab-nav-bg-color-hover;
  }
}

// Bereich Kommentare und Inhaltsverzeichnis

.scroll-text {
  border: @tax-il-iv-comment-scroll-text-border;
  padding: @tax-il-iv-comment-scroll-text-padding;
}

.time > a, .time_end > a {
  color: @tax-il-iv-comment-scroll-text-time-color;
}

#ilInteractiveVideoCommentsForm {
  margin: @tax-il-iv-comments-form-margin;
  padding: @tax-il-iv-comments-form-padding;
}

#il_prop_cont_comment_text > .control-label {
  font-size: @tax-il-iv-comments-form-control-label-font-size;
  text-transform: @tax-il-iv-comments-form-control-label-text-transform;
}